@font-face {
  font-family: "Noah";
  src: url("/interaction/hsl/fonts/Noah/noah_regular_400.otf");
}
* {
	font-family: 'Noah', 'New York', sans-serif;
}
*:focus {
    outline: none;
}

body{
  margin: 0;
  overflow: hidden;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


.input_params + label{
  display: inline-block;
  margin-top: -3px;
  color: var(--txt-color);
}
.arena{
  position: absolute;
  width: 100%;
  height: 100%;
}
.interface{
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  background-color: rgba(238, 238, 238, 0.5);
  padding: 10px;
}
.labelImport{
  margin-right: 77px;
}
.interfaceWindow{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  background-color: rgba(238, 238, 238, 0.5);
  padding: 15px 15px 5px;
}
 .winInterfaceDiv{
   margin-bottom: 11.5px;
 }
.buttonGrid{
  display: grid;
  grid-template-columns: 120px 25px 35px;
  font-size: 14px;
}
.input_params{
  width: 95%;
  margin-bottom: -3px;
}
.inputCumulColor{
  width: 50%;
  margin-bottom: 3px;
}
.inverse_dir{
  direction: rtl;
}
.check_button{
  float: right;
  font-weight: bold;
  font-size: 18px;
  color: green;
  margin-top: -5px;
}
.inLine{
  display: inline-block;
}
.vAlignMid{
  vertical-align: middle;
}
.checkAndRange{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

#ui{
  font-size: 0.777vw;
  z-index: 1;
  opacity: 1;
}
#canvasContainer{
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}
#num_interface{
  cursor: pointer;
  position: absolute;
  text-align: right;
  color: var(--txt-color);
  left: 98.25%;
  font-size: 12px;
  width:1.5%;
  height: 15px;
  font-family: arial;
}
#showHideInterface{
  cursor: nw-resize;
  position: absolute;
  text-align: right;
  color: var(--txt-color);
  left: 98.25%;
  top: 90%;
  font-size: 12px;
  width:1.5%;
  height: 15px;
  font-family: arial;
}
#structure{
  cursor: pointer;
}
#canvas_menu {
  display: none;
  position: absolute;
  width: 200px;
  background-color: white;
  box-shadow: 0 0 5px grey;
  border-radius: 3px;
  z-index: 2;
}
#canvas_menu button {
  width: 100%;
  text-align: left;
  background-color: white;
  border: none;
  margin: 0;
  padding: 10px;
  border-bottom: 1px #ccc solid;
}
#canvas_menu button:hover {
  background-color: lightgray;
}

/*=========================================================*/
/* ------------------ CUSTOM RANGE INPUTS -----------------*/
/*=========================================================*/
/*==============================*/
/* partie commune               */
/*==============================*/
input[type=range].input_params {
  -webkit-appearance: none;
  color: #FFF;
  background: transparent;
  background-image: linear-gradient(to bottom, #FFF, #999, #FFF);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 25%;
}
/*==============================*/
/* le curseur                   */
/*==============================*/
input[type=range].input_params::-webkit-slider-thumb {
  width: .77em;
  height: 0.5em;
  padding: 0.2em;                                              /* largeur du bord */
  border: 1px solid #888;
  border-radius: 50%;
  box-shadow: 0 0 .5em #FFF inset;
  background: linear-gradient(#888, #FFF) content-box,          /* le centre */
              linear-gradient(-90deg, #888, #DDD) border-box;   /* le bord */
}
input[type=range].input_params::-moz-range-thumb {
  width: .77em;
  height: 0.5em;
  padding: 0.2em;                                              /* largeur du bord */
  border: 1px solid #888;
  border-radius: 50%;
  box-shadow: 0 0 .5em #FFF inset;
  background: linear-gradient(#888, #FFF) content-box,          /* le centre */
              linear-gradient(-90deg, #888, #DDD) border-box;   /* le bord */
}
input[type=range].input_params::-ms-thumb {
  width: .77em;
  height: 0.5em;
  padding: 0.2em;                                              /* largeur du bord */
  border: 1px solid #888;
  border-radius: 50%;
  box-shadow: 0 0 .5em #FFF inset;
  background: linear-gradient(#888, #FFF) content-box,          /* le centre */
              linear-gradient(-90deg, #888, #DDD) border-box;   /* le bord */
}
/*=========================================================*/
/*=========================================================*/


@media only screen and (max-width:1666px) {
  #ui {
    font-size: .9vw;
  }
}
@media only screen and (max-width:1250px) {
  #ui {
    font-size: 1.2vw;
  }
}
@media only screen and (max-width:912px) {
  #ui {
    font-size: 1.5vw;
  }
}
@media only screen and (max-width:653px) {
  #ui {
    font-size: 2vw;
  }
}

:root {
  --txt-color: #223351;
}













/*end*/
